*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 223, 223);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-bg{
    background-color: #31E3C9;
}
.topside{
    background-image: url(/assets/images/tiger.jpg);
    min-height: 70vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.sizeing{
    margin-top: 20%;
    padding-left: 20px;
}
.card-img-top{
    border-radius: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    
}
.card{
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.25) 0px 0.0625em 0.0625em, rgba(0,0,0,0.25) 0px 0.0125em 0.5em, rgba(255,255,255,0.1) 0px 0px 0px 1px;
}
.card-body{
    padding: 25px;
   
}
.text-center{
    color: black;
}
