*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.btn{
    padding: 20px 70px;
    border: 2px solid #fff;
    color: #fff; 
    font-weight: bold;
    border-radius: 0;
    margin-top: 50px;
}
.btn-bg{
    background-color: #31E3C9;
}
.text-paste{
    color: #31E3C9;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.title{
    font-size: 100px;
}
.sub-title{
    font-size: 60px;
}
.title-div{
    padding-top: 250px;
}

/* Media query for screens smaller than 768px (typical smartphones) */
@media (max-width: 767px) {
  .title {
    font-size: 36px;
  }
  .sub-title{
    font-size: 32px;
}
.title-div{
    padding-top: 140px;
}
}

/* Media query for screens between 768px and 1024px (typical tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
    .title {
    font-size: 80px;
  }
  .sub-title{
    font-size: 40px;
}
}

/* Media query for screens larger than 1024px (typical desktops and laptops) */
@media (min-width: 1024px) {
    .title {
    font-size: 100px;
  }
  .sub-title{
    font-size: 60px;
    }
}
